[*.cs]

# CA1062: Validate arguments of public methods
dotnet_diagnostic.CA1062.severity = none

# CA1812: Internal class that is apparently never instantiated
dotnet_diagnostic.CA1812.severity = none

# CS1591: Missing XML comment for publicly visible type or member
dotnet_diagnostic.CS1591.severity = none
